body {
    background-color: azure;
}

ul {
    list-style-type: none;
    font-size: 30px;
    background-color: darkgrey;
    width: 200px;
    padding: 0px;
}

li a {
    display: block;
    color: rgb(92,76,76);
    text-decoration: none;
    padding: 10px;
}

    li a:hover {
        background-color: yellow;
        color: brown;
        text-align: left;
    }
